body {
  font-family: sans-serif;
}

.row {
  display: flex;
}

.cell,
.week {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendar-week {
  display: flex;
}
